body{
	background-image:url("images/lib2.jpg");
	background-size:cover;
	overflow:hidden;
	background-color:black;
}
#main-student{
	text-align:center;
	margin:100px;
}
.view-btn{
	width:200px;
	height:50px;
	color:white;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#7B3F00;
}

.search-stu-btn{
	width:200px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#7B3F00;
	color:white;
}

.order-stu-btn{
	width:200px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#7B3F00;
	color:white;
}

.return-btn{
	width:200px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	background-color:#7B3F00;
	color:white;
}

.info-btn{
	width:200px;
	height:50px;
	margin-top:10px;
	margin-bottom:10px;
	color:white;
	background-color:#7B3F00;
}

.stu-name{
	color:Cyan;
	font-size:100px;
	margin-top:50px;
	
}